h1 {
  text-align: center;
  margin: 80px;
}

.intro {
  margin-top: 180px;
}

.name {
  font-size: 70px;
}

.info,
.info-2 {
  font-size: 20px;
}

.back {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #ff5722;
}

.about {
  font-size: 70px;
  margin: 15px;
}

h5 {
  text-align: center;
  margin: 150px 40px 10px;
  font-size: 30px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin: 80px 60px 60px;
}

.contact {
  padding: 15px;
  color: #ff5722;
}

.about-2 {
  padding: 18px;
  color: #ff5722;
}


button {
  background-color: #defcf9;
  border: 2px solid #ff5722;
  padding: 18px;
  border-radius: 10%;
  box-shadow: 0 5px 8px #ff5722;
}

:root {
  --background-color: #defcf9;
  --color: #ff5722;
  --display: flex;
  --flex-direction: row;
  --padding: 20px;
  --font: 20px;
}

.paragraphs {
  background-color: var(--background-color);
  color: var(--color);
  display: var(--display);
  flex-direction: var(--flex-direction);
  padding: var(--padding);
  font-size: var(--font);
}

.paragraphs p {
  margin: 10px;
}

h2 {
  text-align: center;
}

#weather-image {
  margin: 30px;
}

h6 {
  margin: 100px;
  font-size: 40px;
}

#women-image {
  margin: 40px;
}

.contact-2 {
  font-size: 35px;
  color: #5585b5;
}

.mail {
  font-size: 25px;
  color: #ff5722;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.mail:hover {
  color: #5585b5;
}

#resume {
  margin: 100px;
  box-shadow: 0 5px 8px #ff5722;
}

h3,
h4 {
  font-size: 20px;
}

#project-dessert {
  font-size: 30px;
  margin: 10px;
}

.dessert-link {
  color: #ff5722;
  font-size: 15px;
}

.contact-page {
  background-color: #e4f1fe;
}

.navbar {
  background-color: #defcf9;
}

.nav-image {
  max-width: 80px;
}

#button-links {
  margin: 5px;
}

.forecaast-paragraph {
  margin-top: 10px;
}

#nav-link {
  color: #ff5722;
}

#nav-link:hover {
  color: #5585b5;
}

.favourite {
  margin-top: 30px;
}

.weather {
  margin-top: 60px;
}

#profile-image {
  margin-bottom: 100px;
  box-shadow: 10px 10px 20px 10px #ff5722;
}

.contact-paragraph {
  text-align: center;
  color: #ff5722;

}

.social-links a {
  margin: 0 20px;
  color: #ff5722;
  padding: 20px;
  font-size: 30px;
}

.social-links a:hover {
  color: #5585b5;
}

footer {
  margin: 30px;
  display: flex;
  justify-content: center;
}

@media (max-Width: 900px) {
  h1 {
    text-align: center;
  }

  h6 {
    font-size: 20px;
    margin: 10px;
  }

  #women-image {
    margin: 0 auto;
  }

  #forecast-image,
  #weather-image {
    margin: 0 auto;
  }

  .forecast-paragraph {
    font-size: 20px;
  }

  .nav-image {
    max-width: 40px;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }

  .about {
    font-size: 20px;
  }

  #profile-image {
    margin: 20px;
    max-width: 300px;
  }

  .name {
    font-size: 25px;
  }
}